*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2{
    text-align: center;
    margin: 25px;
}

.calculator-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding-left: 25px;
    height: 275px;
    width: 350px;
}

.number-button{
    margin-top: 1px;
    width: 45px;
    height: 45px;
    background-color: red;
}

.equals{
    margin-right: 27px;
}

#clear-button{
    margin-top: 1px;
    width: 94px;
    height: 45px;
    background-color: red;
}

.input-container{
    justify-self: flex-start;
    align-self: center;
}

.input-container div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 50px; 
    width: 300px;
}

input{
    height: 40px;
    width: 200px;
}

.operation-container{
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 300px;
    height: 192px;
}

.numbers-container{
    height: 200px;
    width: 300px;
}

.operators-container{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 95px;
}